@model IEnumerable<CoverType>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-4">
    <div class="row">
        <div class="col-md-6 text-primary">
            Cover Type List
        </div>
        <div class="col-md-6 text-end">
            <a asp-controller="CoverType" asp-action="Add" class="btn btn-primary"><i class="bi bi-plus-circle"></i> &nbsp; CoverType List</a>
        </div>
    </div>
    <br /><br />
    <table class="table table-bordered table-striped" style="width:100%">
        <thread>
            <tr>
                <td>
                    CoverType Name
                </td>
                 <td>
                    Actions
                </td>
            </tr>
        </thread>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td class="text-end">
                        <div class="w-50 btn-group">
                            <a asp-controller="CoverType" asp-action="GetDetailsById" asp-route-id="@item.CoverTypeId" class="btn btn-primary mx-2 btn-sm" > &nbsp; <i class="bi bi-pencil-fill"></i>
                            Edit</a>
                            <a asp-controller="CoverType" asp-action="GetDetailsById" asp-route-id="@item.CoverTypeId"  class="btn btn-danger btn-sm mx-2" > &nbsp; <i class="bi bi-trash3-fill"></i>
                            Delete
                            </a>
                        </div>
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
</div>